<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>500 Internal Server Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            width: 400px;
            margin: 0 auto;
            margin-top: 200px;
            text-align: center;
        }

        h2 {
            color: #e74c3c;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>500 Internal Server Error</h2>
        <p>An internal server error has occurred. Please try again later.</p>
    </div>
</body>
</html>